<footer>
    <div class="footerinfo">
        <div class="f-info-social"><i class="fa-brands fa-facebook"></i><i class="fa-brands fa-instagram"></i><i class="fa-brands fa-linkedin"></i></div>
        <div class="f-info-brand">&copy;Avinash Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy" >Privacy ki MKC</a>&nbsp;&nbsp;
            <a href="/terms">Terms ki MKC</a>

        </div>
    
    </div>
</footer>