<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h1 class="col-6 offset-2"> Create new account,</h1>
   
    <div class="col-8 offset-2">
        <form action="/signup" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
          <br><br>
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" placeholder="Enter username" class="form-control" required>
                <div class="valid-feedback">username is avilable</div>
        
        
                </div>
                <div class="mb-3">
                
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" placeholder="Enter email" class="form-control" required>
                    <div class="valid-feedback">Valid Email</div>
            
            
                    </div>
                    <div class="mb-3">
                      
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" placeholder="Enter password" class="form-control" required>
                        <div class="valid-feedback">Strong password</div>
                
                
                        </div>
                        <button class="btn btn-success">SignUp</button>

        </form>
        </div>
        </div>
